/* Mobile View */
:root {
    --primary-color: #116611; /* Forest Green - for TMNT energy */
    --secondary-color: #1f270b; /* Army Green - for backgrounds */
    --accent-color: #ff4500; /* Mutant Orange for buttons or icons */
    --text-color: white;
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 2rem;
    line-height: 1.6;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 4.5rem;
    color: var(--text-color);
    text-shadow: 2px 2px 5px #ff4500;
}

h2 {
    font-family: 'Bangers', cursive;
    color: var(--text-color);
    text-shadow: 2px 2px 5px #ff4500;
    font-size: 2.5rem;
    
}

section {
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--accent-color);
    padding: 5px;
    border-radius: 8px;
}

code {
    background-color: #2d2d2d;
    padding: 0.2rem 0.4rem;
    font-size: 90%;
}

footer {
    background: var(--primary-color);;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
}